<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to non-www" stopProcessing="true">
		            <match url="(.*)" negate="false"></match>
		            <action type="Redirect" url="http://talktoshirley.co.uk/{R:1}" redirectType="Permanent"></action>
		            <conditions>
		                <add input="{HTTP_HOST}" pattern="^talktoshirley\.co\.uk" negate="true"></add>
		            </conditions>
        	</rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
